$primary-color: #4daf54;
$green-1: #3d8880;

body {
  background-image: linear-gradient(to right, $primary-color, $green-1);
  position: relative;
}

.product-card {
  width: 300px;
  height: 340px;
  border-radius: 16px;
  background-color: #272d40;
  position: absolute;
  transform: translate(-50%, 25%);
  left: 50%;
  padding: 20px;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-icon {
      font-size: 25px;
      color: white;
    }
  }

  &__body {
    &:hover {
      .product {
        &-img {
          transform: rotate(-20deg) translate(25px, -100px);
        }
        &-short-desc {
          width: 0;
          transform: translateY(-80px);
        }
        &-content {
          visibility: visible;
          transform: translateY(-60px);
          opacity: 1;
        }
      }
    }

    .product {
      &-img {
        width: 250px;
        height: 180px;
        object-fit: contain;
        margin-left: 10px;
        transition: all 0.4s;
      }

      &-short-desc {
        text-align: center;
        white-space: nowrap;
        font-size: 25px;
        font-weight: bold;
        font-family: sans-serif;
        width: 100%;
        transition: all 0.6s;
      }

      &-name {
        text-transform: capitalize;
        color: $primary-color;
      }
      &-price {
        color: white;
        margin-top: 10px;
      }

      &-content {
        visibility: hidden;
        transform: translateY(150px);
        opacity: 0;
        transition: all 0.6s;
      }

      &-size,
      &-color {
        display: flex;
        align-items: center;
        p {
          font-size: 20px;
          color: white;
          margin-block: 0px;
        }

        ul {
          display: flex;
          list-style-type: none;
          margin: 0;
          padding: 0;
          margin-left: 10px;
          justify-content: start;
        }
      }

      &-size {
        li {
          margin-left: 10px;
          background-color: rgb(232, 232, 232);
          padding: 5px 10px;
          font-size: 18px;
          border-radius: 8px;
        }
      }

      &-color{
        margin-block: 20px;
        li {
            margin-left: 10px;
            background-color:var(--color);
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
      }
    }

    .action-buttons{
        margin-top: 30px;
        a{
            background-color: $primary-color;
            color: white;
            padding: 8px 18px;
            border-radius: 8px;
            text-decoration: none;

            &:first-child{
                margin-right: 8px;
            }
        }
    }

  }
}
